#root {
    font-family: "Zilla Slab", serif !important;
    font-weight: 600 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex !important;
    min-height: 100vh !important;
}


.modal-content {
    font-family: "Zilla Slab", serif !important;
    border-radius: 0 !important;
}

.app-navbar {
    background-color: #ffffff !important;
    padding: 15px !important;
    transition: background-color 0.1s ease-out !important;
}

.app-navbar.scrolled {
    background-color: #ffffff !important;
    box-shadow: 2px 2px 10px 1px #cccccc;
}

.navbar-brand {
    font-family: "Zilla Slab", serif !important;
    font-weight: 700 !important;
    font-size: x-large !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    position: relative !important;
}

.navbar-link {
    font-family: "Zilla Slab", serif !important;
    font-size: 1.1rem !important;
    font-weight: 800 !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'40;
    font-size: 2.5rem;
    position: relative;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 0.2rem;
    display: flex;
}

.swal2-popup {
    font-size: 1rem !important;
    font-family: "Zilla Slab", serif !important;
}

.product-card-title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.product-card-price {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #22A699 !important;
}

.cart {
    color: #111111 !important;
}

.cart :hover {
    color: #0597bb !important;

}